.timeSheetTable {
    border-spacing: 0 10px;
    font: 100%  Georgia, serif;
    border: 1px solid black;
    border-collapse: collapse;
}
.timeSheetTd {
    border: 1px dotted black;
    padding: 3px;
    width: 45px;
    text-align: center;
}


.timeSheetTdEmployee {
    border: 1px dotted black;
    padding: 3px;
    text-align: left;
}
.headers {
    font: bold 100% "Droid Sans";
}

a:link {
    color: darkblue;
    text-decoration: none;
}
a:visited {
    color: darkblue;
    text-decoration: none;
}
